body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000ef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'REM', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    
}
h3{
    display: inline-block;
    color: white;
    font-style: italic;
    font-size: 35px;
    border: 2px solid;
    border-color: white transparent white transparent;
}
main img {
    display: block;
    opacity: 0;
    max-width: 100%;
    margin: 0 auto;
    border: 5px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* left: 25%; */
    margin-bottom: 30px;
    /* height: 100%;
    width: 100%; */

}

section h2 {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    text-align: center;
    color:whitesmoke;
}
p{
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'REM', sans-serif;

}
.para{
    translate:-150%;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #6c757d; /* Gray color */
}

footer p {
    font-size: 14px;
    
}

/* Media Queries for responsiveness */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 28px;
    }
    section h2 {
        font-size: 20px;
    }
}
